html, body {
    margin: 0;
    padding: 0;
}


/* Nozarik page */
.nozarik {
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
}

.nozarik {
    max-width: auto;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}

.nozarik:fullscreen {
  font-size: 3em;
  text-align: center;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/* Navigation */
nav {
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    display: flex;
    max-width: auto;
    margin: 20px auto;
}

main .content {
    flex: 3;
    padding: 20px;
}

main .sidebar {
    flex: 1;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.map-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.map-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.map-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

..map-container .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h3 {
  font-size: 36px;
  margin: 0;
}

.container2 p {
  font-size: 20px;
  margin: 20px 0 0 0;
  text-align: center;
}
